
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background:black;
  display: block;
  vertical-align: bottom;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  color: #fff;
  line-height: 1.3;
}

#me {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

h2 {
  font-size: 50px;
  color: #ffffff;
  letter-spacing: 0.04em;
  text-align: center;
}

.far:hover, .fab:hover,.fas:hover {
    font-size: 1.5em;
    transform: scale(1.2);
    transition: 0.25s ease-in;
}

.far:hover::after, .fab:hover::after,.fas:hover::after {
    transform: scale(1);
    transition: 0.25s ease-in;
}
